# Get data from Database

### import modules

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Get SQL Engine

In [2]:
def get_engine():
    return create_engine('postgresql://postgres:root@host.docker.internal:5432/postgres')

In [3]:
engine = get_engine()
print(engine.table_names())

['article']

### preview

In [4]:
query = 'select * from "article"'

In [5]:
df = pd.read_sql_query(query, con=get_engine())

In [6]:
df.head()

Empty DataFrame
Columns: [id, title, content]
Index: []